.container {
    position: absolute;
    width: 100%;
    top: 0%;
    left: 0%;
    height: 2500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 40px 80px 1fr 1fr 50px 1fr 60px 200px 40px;
}

#btn:hover {
    border-color: black;
}

#shop {
    font-family: system-ui;
    font-size: small;
}

#shop a {
    text-decoration: none;
}



#TITLE {
    font-family: system-ui;
    font-weight: 700;
    color: gray;
}

#Tips #text1 {
    font-size: 50px;
    font-weight: 600;
    color: white;
}

#Tips #text2 {
    font-weight: 500;
    text-decoration: none;
}

#Tips {
    position: relative;
    top: -130px;
    left: 45%;
    font-family: system-ui;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
}

#help #helpBtn:hover {
    background-color: cornflowerblue;
}

#help #helpBtn {
    background-color: black;
    color: white;
    width: 100px;
    height: 8%;
    font-weight: 800;
    border-radius: 30px;
    position: fixed;
    bottom: 10px;
    /* top: 240px; */
}

#help {
    grid-column-start: 2;
    grid-column-end: 4;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}

.social i:hover {
    font-size: x-large;
    transition: 0.5s all ease;
}

.social {
    color: black;
    font-size: large;
}

.social i {
    margin-left: 15px;
}

.refLinks a:hover {
    color: black;
    border-bottom: 1px solid black;
    cursor: pointer;
}

.refLinks a {
    justify-content: space-between;
    margin: 10px;
}

.refLinks {
    grid-column-start: 1;
    grid-column-end: 4;
    color: gray;
    background-color: rgb(248, 244, 238);
    font-family: system-ui;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.SignUp {
    grid-column-start: 1;
    grid-column-end: 4;
    margin-left: 120px;
    margin-right: 90px;
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    flex-direction: row;
}

.SignUp #SignUpContent {
    background-color: rgb(44, 109, 64);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.SignUp #SignUpContent #item {
    font-family: system-ui;
    display: flex;
    justify-content: center;
    margin: 30px;
}

.SignUp #SignUpContent #button1 {
    height: 40px;
    width: 300px;
}

.SignUp #SignUpContent #button2 {
    color: white;
    background-color: black;
}

.itemsContainer {
    grid-column-start: 1;
    grid-column-end: 4;
    display: grid;
    margin-left: 120px;
    margin-right: 90px;
    row-gap: 20px;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 10px 30px 1fr 10px 20px;
}

#btn {
    grid-column-start: 1;
    grid-column-end: 4;
    position: relative;
    left: 45%;
    top: -95px;
    background-color: rgb(31, 78, 31);
    color: white;
    font-family: system-ui;
    border-color: rgb(31, 78, 31);
    font-size: medium;
    width: 150px;
    height: 45px;
    border: 1px solid rgb(31, 78, 31);
}

.MainImage {
    grid-column-start: 1;
    grid-column-end: 4;
}

.item {
    /* position: relative; */
    background-color: rgb(248, 244, 238);
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* color: gray; */
}

.item i:hover {
    color: black;
    font-size: large;
}

.item i {
    margin-left: 20px;
    color: rgb(63, 62, 62);
}

.item z {
    color: rgb(63, 62, 62);
    font-size: smaller;
    margin-right: 30px;
}

.itemMenu {
    background-color: rgb(248, 244, 238);
    display: grid;
    justify-items: center;
    grid-template-columns: 100px 0px;
    grid-template-rows: 1fr;
}

.itemMenu #menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.itemMenu #menu div {
    width: 30px;
    height: 3px;
    background-color: gray;
    margin: 5px;
}

.itemMenu #MenuText {
    display: flex;
    font-family: system-ui;
    align-items: center;
}

.itemBaroque {
    background-color: rgb(248, 244, 238);
    display: flex;
    align-items: center;
    color: rgb(31, 78, 31);
    justify-content: center;
    font-size: xx-large;
}

.itemHeader {
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: rgb(31, 78, 31);
    color: white;
    display: grid;
    align-items: center;
    justify-items: center;
    font-weight: bold;
    font-family: system-ui;
}

.itemFooter {
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: black;
    color: white;
    display: grid;
    align-items: center;
    justify-items: center;
    font-size: small;
    /* font-weight: bold; */
    font-family: system-ui;
}